**/.DS_Store
**/.vite-ssg-dist
**/.vite-ssg-temp
*.local
**/dist
**/bin
**/dist-ssr
**/node_modules
**/.idea/
**/*.log
**/.do-devops.json
**/*.env
**/generated/ast/prose/**/docs/**
**/vite.config.ts.js
**/.env*

**/target
packages/clippy/output.json