# Copyright 2019-2022 Tauri Programme within The Commons Conservancy
# SPDX-License-Identifier: Apache-2.0
# SPDX-License-Identifier: MIT

name: Full Update

on:
  workflow_dispatch:
    inputs:
      stage:
        description: choose "staging" or "production"
        required: true
        default: "staging"
      docsPath:
        description: path to the base of the Markdown content
        required: false
        default: "docs"
      tsAstPath:
        description: path to TSDocs JSON in repo
        required: false
        default: "docs/api/js/js-api.json"
      docsRepo:
        description: the repo which owns markdown content
        required: false
        default: "tauri-apps"
      docsBranch:
        description: the branch to use for markdown content
        required: false
        default: "dev"

jobs:
  full-update:
    runs-on: ubuntu-latest

    env:
      NODE_ENV: ${{github.event.inputs.stage}}
      PRODUCTION_ADMIN_KEY: ${{secrets.PRODUCTION_ADMIN_KEY}}
      STAGING_ADMIN_KEY: ${{secrets.STAGING_ADMIN_KEY}}
      GH_TOKEN: ${{secrets.GH_TOKEN}}
      GH_USER: ${{secrets.GH_USER}}
      DOCS_PATH: ${{github.event.docsPath}}
      TS_AST_PATH: ${{github.event.tsAstPath}}
      REPO: ${{github.event.docsRep}}
      BRANCH: ${{github.event.docsBranch}}

    steps:
    - uses: actions/checkout@v2
    - name: Prep Env
      uses: ./.github/actions/prep
    - name: Full Update to Meilisearch
      run: pnpm run "full-update:${{github.event.inputs.stage}}"
